@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;700&display=swap');

@layer components {

    .my-animation {

        animation: balls-rotacion 10s 1s infinite ;

      
        @keyframes balls-rotacion {
    
            to{
                transform: rotate(360deg);
                transition: all 0.5s ease;
            }
         
        }

    }

    

   
}



body{
    background-color: #222222;
}